:root{

    --fontMaincolor: rgb(242, 237, 237);
    --fontSecondcolor: rgb(230, 35, 21);
}
.movie-page-container{
    height: calc(100vh);
    background-color: #1d1b1b;
    color: #fff;
}
h2{
    color: var(--fontSecondcolor);
}
.banner{
    width: 100%;
    height: 450px;
    background-color: gray;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/cover1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.movie-page-wrapper{
    display: grid;
    margin: 1rem auto 0;
    width: 80%;
    justify-content: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    /* justify-items: end; */
}
.movie-page-wrapper .overview{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    /* border: 1px solid; */
}
.movie-page-wrapper .overview p{
    text-align:justify;
    margin-top: 1rem;
}
.movie-page-wrapper .cast{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.movie-page-wrapper .details{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding-top: 50%; */
    gap: 1rem;
}
.movie-page-wrapper .details p{
    font-size: 1.3rem;
}
.movie-page-wrapper .poster{
    position: absolute;
    top: 350px;
    left: 250px;
    border-radius: 7px;
    /* opacity: 0.2; */
}
.movie-page-wrapper .movie-title{
    position: absolute;
    top: 400px;
    left: 550px;
    /* top: 32%;
    left: 23%; */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;

}
.movie-page-wrapper .poster picture img{
    box-shadow: -18px 26px 28px 9px rgba(0,0,0,0.1);
    width: 275px;
    border-radius: 7px;
}
.movie-page-wrapper .cast .characters-container{
    display: flex;
    gap: 1.4rem;
    font-size: 1.3rem;
    text-align: center;
}
.movie-page-wrapper .cast .characters-container img{
    max-width: 70%;
    border-radius: 7px;
    box-shadow: -18px 26px 28px 9px rgba(0,0,0,0.1);

}